.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-img-top{
  height: 300px;
  width: 100% auto;
  padding: 10px 20px;
}
.card{
  margin: 20px;
  
}
.card{
  transition: all 0.5s ease;
}
.card:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.886);
  background-color:rgba(239, 243, 244, 0.588);
  color: rgba(0, 0, 0, 0.948)
}
.oo{
  color: blue;
}
.baliq{
  color: blue;
}
.baliq:hover{
  color: darkred;
}
.about{
  height: 400px;
  width: 600px;
}